{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />

{% block content %}

<!-- {% if form.errors %}
  <p style="{color: red;}">Your username and password didn't match. Please try again.</p>
{% endif %} -->

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }} {% endif %}"{% endif %}>{{ message }}</li>
  {% endfor %}
{% endif %}

<!-- Page container -->
<div class="login-container">

  <!-- Page content -->
  <div class="login-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content">

        <!-- Advanced login -->
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="panel panel-body login-form">
            <div class="text-center">
              <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
              <h5 class="content-group">Login to your account</h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="text" name="username" class="form-control" placeholder="Username">
              <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
              </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="password" name="password" class="form-control" placeholder="Password">
              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
            </div>

            <div class="form-group login-options">
              <div class="row">
                <div class="col-sm-6">
                  <label class="checkbox-inline">
                    <input type="checkbox" class="styled" checked="checked">
                    Remember
                  </label>
                </div>

              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
            </div>
          </div>
        </form>
        <!-- /advanced login -->


        <!-- Footer -->
        <div class="footer text-muted text-center">
          &copy; 2018. <span>All rights reserved</span>
        </div>
        <!-- /footer -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->

{% endblock %}
