{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Survey Helper</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

  	<!-- Global stylesheets -->
  	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">
  	<link href="{% static 'css/colors.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  	<!-- /global stylesheets -->

    <!-- /custom stylesheets -->
    <link href="{% static 'css/custom/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/custom/table.css' %}" rel="stylesheet" type="text/css">
    <!-- /custom stylesheets -->

  	<!-- Core JS files -->
  	<script src="{% static 'js/plugins/loaders/pace.min.js' %}" type='text/javascript'></script>
  	<script src="{% static 'js/core/libraries/jquery.min.js' %}" type='text/javascript' ></script>
  	<script src="{% static 'js/core/libraries/bootstrap.min.js' %}" type='text/javascript'></script>
  	<script src="{% static 'js/plugins/loaders/blockui.min.js' %}" type='text/javascript'></script>
  	<!-- /core JS files -->

  	<!-- Theme JS files -->
  	<script src="{% static 'js/plugins/forms/styling/uniform.min.js' %}" type="text/javascript"></script>
  	<script src="{% static 'js/core/app.js' %}" type="text/javascript"></script>
  	<script src="{% static 'js/pages/login.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/notifications/jgrowl.min.js' %}" type="text/javascript"></script>
  	<!-- /theme JS files -->

    <!-- Datatable JS files -->
    <script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}" type="text/javascript"></script>
  	<script src="{% static 'js/plugins/tables/datatables/extensions/select.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/tables/datatables/extensions/buttons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/forms/selects/select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/pages/datatables_basic.js' %}" type="text/javascript"></script>
    <!-- /datatable JS files -->

    <!-- /other JS files -->
    <script src="{% static 'js/plugins/loaders/blockui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/uploaders/fileinput/fileinput.min.js' %}" type="text/javascript"></script>
    <!-- /other JS files -->

    {{ BICENTRAL_DATA.svg|safe }}

    <style>
      {{ BICENTRAL_DATA.css|safe }}
    </style>
  </head>

  <body class="page-container">

  	<!-- Main navbar -->
  	<div class="navbar navbar-inverse">
  		<div class="navbar-header">
        <a class="navbar-brand" href="/"><img class="survey-logo" src="{% static 'images/logo-no-bg.png' %}" alt="logo"></a>
      </div>

      {% if user.is_authenticated %}
        <div class="navbar-collapse collapse" id="navbar-mobile">
          <div class="nav navbar-nav navbar-right">
            {{ BICENTRAL_DATA.buttons|safe }}
            {{ BICENTRAL_DATA.html|safe }}
            <div class="user-dropdown">
              <button class="user-dropbtn"> {{ user }} <i class="fa fa-caret-down"></i></button>
              <div class="user-dropdown-content">
              </i><a href="logout/" class="logout-button"><i class="icon-switch2"></i></span>Logout</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

  	</div>

  	<!-- /main navbar -->

  {% block content %}
  {% endblock %}

  </body>

  <script>
    {{ BICENTRAL_DATA.js|safe }}
  </script>

</html>
