{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<!-- Highlighting rows and columns -->
<div class="panel panel-flat" id="survey-folders-panel">
	<div class="panel-heading">
		<h5 class="panel-title">Survey Monkey Folders</h5>
		<div class="heading-elements">
			<ul class="icons-list">
                <li><a data-action="reload"></a></li>
            		<li><a data-action="collapse"></a></li>
            	</ul>
          	</div>
	</div>
	<table class="table table-bordered table-framed table-striped table-hover datatable-basic datatable-selection-single" id="survey-folders-table">
		<thead>
			<tr class="bg-slate">
				<th width="35%">Folder Name</th>
				<th width="15%">Number of surveys</th>
				<th width="10%">ID</th>
				<th width="40%">Q&A File</th>
			</tr>
		</thead>
		<tbody>
		{% for folder in folders_data %}
			<tr>
				<td align="center">{{folder.title}}</td>
				<td align="center">{{folder.num_surveys}}</td>
				<td align="center">{{folder.id}}</td>
				<td align="center">
					<div id="qa-file-container" style="display: flex">
						<div id='qa-file-presence' style="flex: 1; overflow: hidden">
							<span id="qa-filename">{{folder.qa_file}}</span>
						</div>
						<div id="qa-file-button" style="flex: 1">
							<button type="button" class="btn btn-primary" id="add-qa-file" style="width: 65%" data-toggle="modal" data-target="#modal_default" data-folder-id="{{folder.id}}" data-folder-name="{{folder.title}}">
								Add file
							<span class="glyphicon glyphicon-open" style="margin-left: 5px"></span></button>
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<!-- Highlighting rows and columns -->
<div class="panel panel-flat" id="survey-folder-content-panel">
	<div class="panel-heading">
		<h5 class="panel-title">Surveys in Folder</h5>
		<div class="heading-elements">
			<ul class="icons-list">
                <li><a data-action="reload"></a></li>
            		<li><a data-action="collapse"></a></li>
            	</ul>
          	</div>
	</div>
	<table class="table table-bordered table-framed table-striped table-hover datatable-ajax" id="survey-content-table">
		<thead>
			<tr class="bg-slate">
				<th width="25%">Survey Name</th>
				<th width="30%">Localized Language</th>
				<th width="10%">ID</th>
				<th width="30%">Link</th>
			</tr>
		</thead>
	</table>
</div>
<!-- /highlighting rows and columns -->

<div id="process-survey-button" title="Process Surveys"></div>

<!-- Basic modal -->
<div id="modal_default" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="close-modal" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Upload Q&A File</h5>
			</div>
			<div class="modal-body">
				<input class="fileupload" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
			</div>
			<div class="modal-footer">
				<p>Upload a valid Q&A file for this folder.</p>
			</div>
		</div>
	</div>
</div>
<!-- /basic modal -->

{% endblock %}
