.navbar {
  height: 62px;
  padding: 0px 25px 0px 25px;
  width: 100%;
  position: fixed;
  z-index: 1001;
}

/* Dropdown Button */
.user-dropbtn {
    background-color: #37474f;
    color: #B1B4BD;
    padding: 16px;
    font-size: 18px;
    border: none;
    min-width: 100px;
}

/* The container <div> - needed to position the dropdown content */
.user-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

/* Dropdown Content (Hidden by Default) */
.user-dropdown-content {
    display: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.user-dropdown-content a {
    color: #808184;
    font-size: 16px;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.user-dropdown-content a:hover {
  color: #000000;
  font-weight: bold;
}

/* Show the dropdown menu on hover */
.user-dropdown:hover .user-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-dropdown:hover .user-dropbtn {
    background-color: #333333;
}

.page-container {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}

.login-container {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.login-content {
  display: flex;
  width: 25%;
  height: 50%;
}

i.icon-switch2 {
    padding-right: 5px;
}

.navbar-brand > img {
  margin-top: -12px;
  margin-left: -16px;
  height: 61px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
