#survey-folders-panel {
  margin: 112px auto;
  width: 75%;
}

#survey-folder-content-panel {
  margin: -62px auto;
  width: 75%;
}

.datatable-basic td {
  font-size: 16px;
  cursor: pointer;
}

#survey-folders-table {
  height: 100%;
}

.custom-spinner {
    margin: 0 auto;
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.custom-spinner > div {
    height: 100%;
    width: 6px;
    margin-right: 2px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.sp-dark > div {
    background-color: #666;
}

.sp-light > div {
    background-color: #EEE;
}

.custom-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.custom-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.custom-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.custom-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.selected, .success {
    font-weight: bold;
}

#process-survey-button {
    display: block;
    position: fixed;
    top: calc(100% - 87px);
    right: calc((((100% - 75%) / 2) / 2) - 25px);
    background-color: #428bca;
    cursor: pointer;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    transition: transform .3s ease-in-out;
}

#process-survey-button:hover {
    background-color: #637B8A;
    transform: rotate(180deg); */
}

#process-survey-button:after {
    content: "+";
    color: white;
    font-size: 20px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
